.info {
    color: green;
  }
  
  .error {
    color: red;
  }
.info,
.error {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.message {
  border: 1px solid black;
  padding: 10;
  margin-Bottom: '20px';
}
.blog {
  display: block;
  padding: 10px;
  border: 1px solid rgba(215, 163, 134, 1);
  margin-bottom: 20px;
  border-radius: 2px;
}
button {
  background-color: #d7a386;
  border: none;
  padding: 8px 12px;
}